/* @import './base.css'; */
@import '../fonts/stylesheet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h2 {
    @apply text-[64px] font-bold leading-tight;
  }
}

html {
  overflow-x: hidden;
}

[v-cloak] {
  display: none;
}

body {
  min-height: 100vh;
  color: white;
  background: #1D1D1D;
  font-family: HelveticaNeueCyr;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: #4AAEFF;
  border-radius: 6px;
}

/* Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif */